<div class="row">
  <div class="small-4 columns">
    <%= form_for :tweet, method: :post, url: tweet_path do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <%= f.text_area :body %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 text-right columns">
          <%= f.submit 'Tweet', class: 'small button small-offset-3' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="small-8 columns">
    <% @tweets.each do |tweet| %>
      <div class="panel">
        <div class="row">
          <div class="small-12 text-right columns">
            <%= link_to tweet.created_at, status_path(tweet) %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= tweet.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
